.my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    margin-left: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; 
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { 
    border:1px solid rgb(97, 132, 247);
    margin-bottom: 30px;
  }